html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*sección de pantallas*/
.cuerpo{ width: 100%; }
.f-arriba{ width: 100%; }
.color_barraNav{ background-color: #FF00BF; color: white; padding-left: 60%; }
.color_barraNav2{ color: white; }
.lista_comun { padding-left: 60%; }


@media (min-width: 319px) and (max-width: 460px) {
	.A-1{ width: 100%; display: flex; }
		.lista_normal{  display:none; }
		.lista_responsiva{  display:flex; flex-flow: column; width: 100%; }
		.lista_efectos{  width: 100%; height: 40px;
		    -webkit-transition: height 3s; /* Safari */
		    -webkit-transition-delay: 1s; /* Safari */
		    transition: height 3s;
		    transition-delay: 1s;
		 }
		.lista_efectos:hover {
		    height: 180px;
		}
	.B-1{ width: 100%; display: flex; }
		.a2{ width: 20%; display: none; background-color: #44A123; }
		.b2{ width: 100%; display: flex; background-color: #16D736; flex-flow: column; }
			.b21{ width: 100%; display: flex; background-color: #56C17B; }
			.b22{ width: 100%; display: flex; background-color: #1DD8A9; }
			.b23{ width: 100%; display: flex; background-color: #2C9F9B; }
			.b24{ width: 100%; display: flex; background-color: #2C779F; }
				.a3{ width: 50%; display: flex; background-color: #2C3E9F; }
				.c3{ width: 50%; display: flex; background-color: #742ADC; }
		.c2{ width: 20%; display: none; background-color: #DC2ACD; }
	.C-3{ width: 100%; display: flex; }
}
@media (min-width: 461px) and (max-width: 770px) {
	.A-1{ width: 100%; display: flex; }
		.lista_normal{  display:flex; flex-flow: row; justify-content: center; }
		.lista_responsiva{  display:none; }
	.B-1{ width: 100%; display: flex; }
		.a2{ width: 20%; display: none; background-color: #44A123; }
		.b2{ width: 100%; display: flex; background-color: #16D736; flex-flow: column; }
			.b21{ width: 100%; display: flex; background-color: #56C17B; }
			.b22{ width: 100%; display: flex; background-color: #1DD8A9; }
			.b23{ width: 100%; display: flex; background-color: #2C9F9B; }
			.b24{ width: 100%; display: flex; background-color: #2C779F; }
				.a3{ width: 50%; display: flex; background-color: #2C3E9F; }
				.c3{ width: 50%; display: flex; background-color: #742ADC; }
		.c2{ width: 20%; display: none; background-color: #DC2ACD; }
	.C-3{ width: 100%; display: flex; }
}

/*Pantalla estandar*/
@media (min-width: 771px) and (max-width: 1024px) {
	.A-1{ width: 100%; display: flex; }
		.lista_normal{  display:flex; flex-flow: row; justify-content: center; }
		.lista_responsiva{  display:none; }
	.B-1{ width: 100%; display: flex; }
		.a2{ width: 20%; display: flex; background-color: #44A123; }
		.b2{ width: 60%; display: flex; background-color: #16D736; flex-flow: column; }
			.b21{ width: 100%; display: flex; background-color: #56C17B; }
			.b22{ width: 100%; display: flex; background-color: #1DD8A9; }
			.b23{ width: 100%; display: flex; background-color: #2C9F9B; }
			.b24{ width: 100%; display: flex; background-color: #2C779F; }
				.a3{ width: 50%; display: none; background-color: #2C3E9F; }
				.c3{ width: 50%; display: none; background-color: #742ADC; }
		.c2{ width: 20%; display: flex; background-color: #DC2ACD; }
	.C-3{ width: 100%; display: flex; }
}
@media (min-width: 1025px) and (max-width: 1440px) {
	.A-1{ width: 100%; display: flex; }
		.lista_normal{  display:flex; flex-flow: row; justify-content: center; }
		.lista_responsiva{  display:none; }
	.B-1{ width: 100%; display: flex; }
		.a2{ width: 20%; display: flex; background-color: #44A123; }
		.b2{ width: 60%; display: flex; background-color: #16D736; flex-flow: column; }
			.b21{ width: 100%; display: flex; background-color: #56C17B; }
			.b22{ width: 100%; display: flex; background-color: #1DD8A9; }
			.b23{ width: 100%; display: flex; background-color: #2C9F9B; }
			.b24{ width: 100%; display: flex; background-color: #2C779F; }
				.a3{ width: 50%; display: none; background-color: #2C3E9F; }
				.c3{ width: 50%; display: none; background-color: #742ADC; }
		.c2{ width: 20%; display: flex; background-color: #DC2ACD; }
	.C-3{ width: 100%; display: flex; }
}
@media (min-width: 1441px) and (max-width: 2560px) {
	.A-1{ width: 100%; display: flex; }
		.lista_normal{  display:flex; flex-flow: row; justify-content: center; }
		.lista_responsiva{  display:none; }
	.B-1{ width: 100%; display: flex; }
		.a2{ width: 20%; display: flex; background-color: #44A123; }
		.b2{ width: 60%; display: flex; background-color: #16D736; flex-flow: column; }
			.b21{ width: 100%; display: flex; background-color: #56C17B; }
			.b22{ width: 100%; display: flex; background-color: #1DD8A9; }
			.b23{ width: 100%; display: flex; background-color: #2C9F9B; }
			.b24{ width: 100%; display: flex; background-color: #2C779F; }
				.a3{ width: 50%; display: none; background-color: #2C3E9F; }
				.c3{ width: 50%; display: none; background-color: #742ADC; }
		.c2{ width: 20%; display: flex; background-color: #DC2ACD; }
	.C-3{ width: 100%; display: flex; }
}